name: Dart CI

on:
          push:
                    branches: [main, master]
          pull_request:
                    branches: [main, master]

jobs:
          analyze:
                    runs-on: ubuntu-latest
                    steps:
                              - uses: actions/checkout@v4
                              - uses: dart-lang/setup-dart@v1
                                with:
                                          sdk: stable

                              - name: Install dependencies
                                run: dart pub get

                              - name: Verify formatting
                                run: dart format --output=none --set-exit-if-changed .

                              - name: Analyze project source
                                run: dart analyze --fatal-infos

          test:
                    runs-on: ${{ matrix.os }}
                    strategy:
                              matrix:
                                        os:
                                                  [
                                                            ubuntu-latest,
                                                            windows-latest,
                                                            macos-latest,
                                                  ]
                                        sdk: [stable, beta]
                    steps:
                              - uses: actions/checkout@v4
                              - uses: dart-lang/setup-dart@v1
                                with:
                                          sdk: ${{ matrix.sdk }}

                              - name: Install dependencies
                                run: dart pub get

                              - name: Run tests
                                run: dart test

          dry-run:
                    runs-on: ubuntu-latest
                    steps:
                              - uses: actions/checkout@v4
                              - uses: dart-lang/setup-dart@v1
                                with:
                                          sdk: stable

                              - name: Install dependencies
                                run: dart pub get

                              - name: Verify pub.dev score
                                run: dart pub publish --dry-run
