name: Publish to pub.dev

on:
          push:
                    tags:
                              - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
          publish:
                    runs-on: ubuntu-latest
                    permissions:
                              id-token: write # Required for authentication using OIDC
                    steps:
                              - uses: actions/checkout@v4
                              - uses: dart-lang/setup-dart@v1
                                with:
                                          sdk: stable

                              - name: Install dependencies
                                run: dart pub get

                              - name: Run tests
                                run: dart test

                              - name: Publish to pub.dev
                                run: dart pub publish --force
